#toptb {padding:5px 15px;background:#333;border-bottom:1px solid #222;color:#fff;}
#toptb a {color:#fff;}
#um .new, .topnav .new, .sch .new, #toptb .new {color:{NOTICETEXT};}
body#space .comiis_footer #ft {background:none;}
#frame1_left #profile_content.dxb_bc .hm {padding-top:10px;}
.ul_magicgift {line-height:18px;}
.p_pop, .p_pof, .sllt {margin-top:6px;}
body#space .comiis_footer a, body#space .comiis_footer a:hover, body#space .comiis_footer a:active {color:{FOOTERTEXT};}



/* ----------------------------------
CSS file for Discuz! x3.2 By caogen8.co
(C) cgzz8.com
http://www.caogen8.co
Design QQ  2575163778
update:2015-07-29 09:07
---------------------------------- */



